/*
 * |---:[Đoạn này sẽ chứa các đoạn giới thiệu và thông tin về theme, như tên theme (Theme Name), tên tác giả (Theme Author), địa chỉ của tác giả (Author URI),...]:---|
 
 * Theme Name: BlankTheme
 * Description: Đây là một theme đơn giản để thực hành Lập trình theme WordPress
 * Theme URI: localhost/wordpress
 * Version: 1.0
 * Theme Author: GiaHuy
 * Author URI: localhost
 * Tags: starter theme, framework theme, two-columns, customize
 * Textdomain: blanktheme
 */


 /*--------------------------HEADER----------------------*/
/*Logosite is logo and navbar*/
.logosite{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 100px;
}

 .menu ul {
  list-style-type: none;
  margin: 0;
}

.menu li {
  float: left;
}

.menu li a{
	display: block;
	text-align: left;
	padding: 14px 16px;
	font-family: Be Vietnam;
	font-style: normal;
	font-size: 17px;
	line-height: 23px;
	font-weight: bold;

	color: #061032;

	text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
}

.menu{
	overflow: hidden;
    display: inline-block;
	padding: 10px;
	}

#logo {
	float: left;
	padding-left: 200px
}

.header-home-container{
	text-align: center;
}

.header-home-container{
	margin: auto;
	width: 50%;
	height: 330px;
}
.header-home-container h1{
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: 800;
	font-size: 90px;
	line-height: 102.1%;
	color: #01A893;
	margin-bottom: 10px;
}

.header-home-container p{
	line-height: 30px;
	color: #061032;
	margin: auto;
	width: 70%;
	padding: 10px;
	margin-bottom: 50px;
}

.header-home-container .button {
	background: #01A893;
	box-shadow: 0px 13px 20px rgba(6, 207, 182, 0.4112);
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 70px;
	font-weight: bold;
}

#menu-primary li a:hover{
	color: #D65C52;
}

.primary-menu .current-menu-item a{
	color: #D65C52;
	text-decoration: underline;
}

.primary-menu .sub-menu, .footer-menu .sub-menu{
	display: none;
}
.sub-menu{
	background: #FFFFFF;
	position: absolute;
	padding: 0;
	z-index: 1;
	width: 300px;
	border-radius: 5px;
}
.menu .sub-menu li a{
	text-decoration: none;
	color: black;
	text-transform: capitalize;
	font-size: 14px;
}
.menu .sub-menu li{
	border-bottom: 1px solid #F0F2F4;
}
.sub-menu .sub-menu{
	background: #F4F9FD;
	border: 1px solid #DDEBF3;
	box-sizing: border-box;
	border-radius: 5px; 
}
.menu-item-has-children:hover + .primary-menu .sub-menu{
	display: grid;
	z-index: 1;
}
#mobile-menu button{
	margin: 30px;
    margin-right: 0;
    float: right;
    background: white;
    font-size: 20px;
    color: #01A893;
}

#menu-mobile .menu-item-has-children a::after{
	content: '\25BC';
	color: black;
	margin: auto;
}
#menu-mobile .menu-item-has-children .sub-menu a::after{
	content: "";
}
#menu-mobile .menu-item-has-children .sub-menu{
	padding-left: 20px;
}
.header-products-content{
	margin: auto;
}
.header-products-content #title{
	font-size: 90px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    font-weight: 800;
}
#title{
	font-size: 80px;
	margin-bottom: 20px;
	color:#D65C52;
	text-align: left;
}
#title-subtilte{
    text-align: left;
    width: 70%;
    padding: 0;
    font-size: 20px;
}


.title-container .content p{
	text-align: left;
}


.header-about-container .images img{
	width: 400px;
    border-radius: 10px;
    position: relative;
    top: 15%;
}
.header-about-container{
	width: 60%;
	margin: auto;
}

.header-products{
	height: 400px;
	width: 70%;
	margin: auto;
	display: grid;
    grid-template-columns: 60% 30%;
	padding: 15px;
}
.header-competences{
	width: 60%;
	margin: auto;
}
.header-management{
	width: 60%;
	margin: auto;
}
.header-members{
	width: 60%;
	margin: auto;
}
.header-search{
	width: 100%;
	height: 300px;
	margin: auto;
}
.header-policy{
	height: 300px;
    width: 75%;
    margin: auto;
}
#search-input{
	width: 250px;
}
.menu .language a::after{
	position: absolute;
    content: '\25BC';
    color: black;
    margin: auto;
    padding-left: 10px;
}
.footer-menu .language a{
	display: none;
}


/*-------------------------ABOUT-------------------------*/

#home-about{
	width: 80%;
	margin: auto;
}



/*---------------------------BODY-------------------------------*/
body{
	margin: 0;
}

#main-content{
	margin: 0;
	margin-top: 100px;
	padding: 0;
}


/*--------------------------FOOTER------------------------------*/
#footer{
	background-color: white;
	text-align: center;
}

.copyright{
	text-align: center;
	font-family: Arimo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	/* or 150% */

	text-align: center;

	color: #607D8B;

	padding: 20px;
}

.copyright a{
	color: #607D8B;
	text-decoration: none;
}

/*Social Button*/
#social{
	border-bottom: 1px solid black;
	width: 40%;
	margin: auto;
	padding: 20px;
}



/*--------------------------FA-----------------------------------*/




.fa-facebook, .fa-twitter, .fa-google{
  padding: 10px;
  font-size: 10px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: white;
  background: #51545E;
}


#contactinfo .material-icons{
	font-size: 16px;
}
/*-------------------------- P, H, BUTTON, INPUT -----------------------------*/
p{
	font-family: Arimo;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #061032;
}

h5{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #D65C52;
	margin: 0px;
}
h2{
	font-size: 36px;
	line-height: 102.1%;
	text-align: center;

	color: #01A893;
}
h1,h2,h3,h4,h5{
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: 800;
}

.button{
	display: block;
	width: fit-content;
	margin: auto;
	box-shadow: 0px 13px 20px rgba(6, 207, 182, 0.4112);
	border-radius: 5px;
	border: none;
	padding: 15px 30px;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 102.1%;
	text-align: center;
	letter-spacing: -0.03em;
}
.button-green{
	background: #01A893;
	color: #FFFFFF;
}
.button-white{
	background: #FFFFFF;
	color: #01A893;
}
#search-btn{
	background: #D65C52;
    color: white;
    position: relative;
    left: -5%;
    margin: 0;
    box-shadow: none;
}
input::placeholder{
	font-family: San Francisco Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #7E8085;
	padding: 10px;
}




/*---------------------------------GRID------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: auto;
  grid-gap: 10px;
}
.grid-item {
  	text-align: center;
}


/*-----------------------------------CONTENT------------------------------*/
#about-info{
	font-size: 17px;
	
}
.entry-content{
	margin: auto;
}
#about-us{
	padding: 0;
	margin: auto;
}

#about-info img{
	width:150px;
	height: 150px;
}
#about-us h2{
	text-align: left;
	font-size: 36px;
	line-height: 30px;
	/* identical to box height, or 83% */


	color: #061032;
}
#about-us h3{
	font-size: 20px;
	line-height: 30px;
	/* identical to box height, or 150% */

	text-align: left;

	color: #D65C52;
}
#search-content .search-info, #search-content .search-info strong {
	font-family: Arimo;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #061032;
	width: 75%;
	margin: auto;
	margin-bottom: 30px;
}


/*--------------------------------CONTACT---------------------------------------*/
.email-signup{
	margin: 0;
	padding: 100px;
	display: flex;
}
.email-signup p{
	float: left;
	margin: 0;
	width: 40%;
	text-align: left;
	padding-left: 200px;
	color: white;
}

.email-signup button{
	background: #FFFFFF;
  	font-size: 16px;
	border: none;
	color: #01A893;
	font-weight: bold;
}

.email-signup form{
	float:right;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}

.email-signup input{
	border: none;
	border-right: 0.5px solid #E7EAEE;
	margin: 0;
	padding: 0;
	font-family: San Francisco Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #7E8085;
}

.form{
	padding: 50px;
}

.grid-item1{
	grid-column-start: 1;
	grid-column-end: 3;
}


/*--------------------------------------CONTACT MAP-----------------------------------*/
#contact-map .info, #contactinfo .info{
	color: #01A893;
	font-weight: bold;
	text-align: left;
}
#contact-map .info i{
	font-size: 16px;
}

.grid-contactform .contactform{
	background: rgba(1, 168, 147, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    width: 35%;
    padding: 10px;
    margin: 15px;
}
.grid-contactform .contactform p{
	color: white;	
}

#wpforms-form-940 {
	    color: white;
	}
#wpforms-form-940 input, #wpforms-form-940 textarea{
	    border-radius: 10px;
	}
#wpforms-form-940 .wpforms-submit-container button{
	    background: #D65C52;
		box-shadow: 0px 13px 20px rgba(6, 207, 182, 0.4112);
		border-radius: 5px;
		color: white;
		font-weight: bold;
		border: none;
		display: block;
		width: fit-content;
		margin: auto;
	}
#wpforms-form-940 label{
		font-family: Arimo;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
	}
#wpforms-form-940 .wpforms-field-container{
	width: 90%;
    margin: auto;
}
#contact-content{
		width: 55%;
		margin: auto;
	}
#contact-content img{
	height: 100%;
	width: 400px;
	}

/*---------------------------------------------BLOG---------------------------------*/
.blog-content{
	width: 70%; 
	text-align: center; 
	margin: auto;
}

.blog{
	width: 100%;
	margin: auto;
	padding: 70px;
	padding-top: 0;
}

.card {
  	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	height: 100%;
	width: 240px;
	margin: auto;
	position: relative;
	background: #FFFFFF;
}

.blog-members .card .read-more{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}

.card .card-image img{
	display: block;
	margin: auto;
	width: 100%;
}
.card .card-content{
	position: relative;
	margin: auto;
	padding: 15px;
}

.card-members .card-content{
	text-align: left;
}
.card .card-content .card-title a{
	color: #D65C52;
	text-decoration: none;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: bold;
}

.card .card-content .read-more{
	color: #01A893;
	text-decoration: none;
	position: absolute;
	display: block;
	right: 5%;
	bottom: 0;
	
}
.card .card-content .read-more::after{
	content: " \279C";
	font-size: 18px;
	font-weight: bold;
}

#blog-title{
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 54px;
	/* identical to box height, or 150% */

	text-align: center;

	color: #01A893;
}

.card .card-content .card-description{
	margin-top: 0;
}


.blog-product .card-image img{
	width: 40px;
	float: left;
	padding: 10px;
}
.card-product{
	width: 300px;
}

.blog-product h4{
	padding: 10px;
}

.blog-members{
	border-bottom: 1px solid #21D1BB;
}

.blog-template{
	margin: auto;
	padding-bottom: 50px;
}

#grid-product p{
	display: block;
	text-align: left;
}
#grid-product h4{
	text-align: left;
}

.box-content{
	float: left;
	text-align: left;
	height: 135px;
	padding: 10px;
}
.box-product{
	width: 250px;
}

/*-----------------------------------------PRODUCT-----------------------------*/
.category-btn{
	background: #EDF1F7;
    border-radius: 100px;
    font-size: 16px;
    border: 1px solid #01A893;
    color: black;
    font-weight: normal;
    width: fit-content;
    padding: 10px 25px;
}

.btn-active{
	color: white;
	font-weight: bold;
	background: #01A893;
}
.dropdown-title strong{
	text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
}


/*------------------------------------PARTNERS--------------------------*/


#partners{
	text-align: center;
	padding: 70px;
	background: #F3F8F7;
}

#partners h2{
	padding-bottom: 30px;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	color: #01A893;
}

/*-----------------------------CAROUSEL--------------------------*/
.client{
	width: 90%;
	margin: auto;

}

.client-title{
	margin: auto;
	text-align: center;
}

.carousel-slide{
	display: flex;

}

.carousel-container{
	height: 240px;
}
.carousel-slide img{
	height: 250px;
}
#carousel-btn{
	margin-top: 20px;
	position: relative;
	left: 20%;
	width: fit-content;
}

#carousel .card-content h4{
	margin: 0;
}

#carousel .card-client img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
	padding: 10px;
}
#carousel .card-client{
	margin-right: 10px;
	padding: 10px;
	height: 210px;
	width: 300px;
	background: #FFFFFF;
	box-shadow: -1px 13px 20px #F0F2F4;
	border-radius: 5px;
}
#carousel .card-client .client-name p{
	display: flex;
	margin: 5px;
	color: black;
	font-weight: bold;
}
#carousel .card-client .client-name .name{
	font-weight: bold;
	color: #66BB6A;
}
#carousel .card-client .card-content{
	width: 250px;
}

#carousel .card-client .card-content .content, #carousel .card-client .card-content{
	padding: 10px;
}
#carousel .card-related .card-content{
	width: 250px;
	height: fit-content;
}

#carousel .card-related{
	margin-right: 15px;
	box-shadow: none;
	width: 250px;
}

/*----------------------------ABOUT US PAGE-------------------------------------------------*/
#about-page{
	width: 80%;
	margin: auto;
}
#about-page h2{
	text-align: left;
}
.conference-center-line {
    content: '';
    position: absolute;
    width: 70%;
    height: 10px;
    background-color: #F0F0F0;
    top: -5%;
    bottom: 0;
    right: 0;
    margin: auto;
    left: 0;
    border-radius: 100px;
}
.grid-about-product{
	grid-template-columns: auto auto;
	width: 100%;
}

/*---------------------------------------TIMELINE-----------------------------------------*/
.main-timeline-section button{
	position: absolute;
    font-size: 30px;
    top: 43%;
    border: 0;
    border-radius: 50%;
    color: #8AA1AC;
    background: white;
    box-shadow: -1px 13px 20px #F0F2F4;
}

#prevTimeBtn{
    left: 10%;
}
#nextTimeBtn{
    right: 10%;
}
.main-timeline-section{
	margin: auto;
	position: relative;
}
.timeline-article{
	width: 200px;
	display: block;
	position: absolute;
	
}

.grid-timeline{
	height: 400px; 
	position: relative; 
	margin: auto;
	display: grid;
}
.timeline{
	height: 200px;
	position: relative;
}
.container-timeline-top{
	position: absolute;
	top: 0;
}
.container-timeline-bot{
	position: absolute;
	bottom: -100%;
}
.content-date h2{
	text-align: left;
	margin: 0;
	font-size: 50px;
	font-weight: normal;
	color: black;
	padding: 10px;
}
.content-date{
	background-size: contain;
	background-repeat: no-repeat;
}

.content-box p{
	font-size: 12px;
	color: white;
	padding: 10px;
		margin: 0;
}

.container-timeline{
	height: 170px;
	width: 250px;
}


.timeline-top::before{
  content: "";
  position: absolute;
  bottom: 25%;
  left: 10px;
  border-top: 10px solid #F0F0F0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.timeline-bot::before{
  content: "";
  position: absolute;
  bottom: -15%;
  left: 10px;
  border-bottom: 10px solid #F0F0F0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.timeline-bot::after{
  content: url("http://training.azpassio.com/auxilto/wp-content/uploads/2020/07/Logo_symbol.png");
  position: absolute;
  bottom: -5%;
  left: 0;
}
.timeline-top::after{
  content: url("http://training.azpassio.com/auxilto/wp-content/uploads/2020/07/Logo_symbol.png");
  position: absolute;
  bottom: -5%;
  left: 0;
}


/*---------------------------------------COMPETENCES------------------------------------------*/
.grid-competence{
	grid-template-columns: auto auto;
}
.grid-competence img{
	width: 300px;	
}
.grid-competences{
	width: 65%;
	margin: auto;
	grid-template-columns: auto;
}

.grid-competence .content h2{
	text-align: left;
	text-transform: uppercase;
	font-size: 36px;
}
.grid-competence .content{
	width: 85%;
	display: block;
}
.consulting{
	padding: 30px;
}
/*------------------------------------WHY US----------------------------------------------*/
#whyus-list{
	list-style: none;
	font-family: Arimo;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}
#whyus-list li::before{
	content: "\2666	";
	color: #D65C52;
	font-weight: bold;
}

/*-------------------------------MANAGEMENT-----------------------------------------------------------*/
.dropdown-table .grid-container{
	display: none;
}
.dropdown-table .dropdown-head button{
	align-self: center;
    margin-right: 15px;
    width: 200px;
    background: #01A893;
    border-radius: 100px;
    border: 0;
    color: white;
    font-size: 15px;
    font-family: Be Vietnam;
	font-style: normal;
	font-weight: normal;
	line-height: 102.1%;
	padding: 10px 10px;
	/* or 18px */

	text-align: center;
	letter-spacing: -0.03em;
}
.read-more{
	color: #01A893;
	text-decoration: none;
	position: absolute;
	display: block;
	font-weight: bold;
	font-family: Arimo;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	padding: 5px;
	
}
.read-more::after{
	content: " \279C";
	font-size: 18px;
	font-weight: bold;
}

.management-template{
	width: 100%;
	margin-top: 20px;
}
.dropdown-table{
	width: 90%;
}
.grid-management .grid-item{
	display: flex;
}

/*-----------------------------------------------MAPS--------------------------------*/
.card-button{
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	width: 300px;
	text-align: left;
}
.card-button .info-title{
	font-weight: bold;
	font-size: 14px;
	color: #01A893;
}
.grid-infomation{
	grid-gap: 10px;
}
.grid-button{
	padding: 20px;
	display: grid;
}
.card-button i::before{
	padding-right: 10px;
	padding-left: 15px;
}
.card-button h3{
	font-size: 20px;
	padding-left: 20px;
}
#contactinfo{
    width: fit-content;
    padding: 35px;
    align-self: center;
}
.grid-button{
	width: fit-content;
    margin: auto;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}
.grid-infomation{
	display: grid;
	grid-template-columns: auto auto
}
.grid-contactform{
		display: flex;
}

/*-------------------------------------POP UP---------------------------*/

#close-btn{
	background: #01A893;
    box-shadow: 0px 13px 20px rgba(6, 207, 182, 0.4112);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
    font-weight: bold;
}

.popup .popup-header img{
	position: relative;
	top: -50%;
}
.popup{
	width: 60%;
	left: 20%;
}
.popup .popup-header{
	grid-template-columns: auto auto;
	display: grid;
}
.popup .popup-header .info{
	text-align: left;
	width: 80%;
}


/*--------------------------------------------PRODUCT DETAIL---------------------------------------*/
 .header-detail-container{
 	width: 60%;
 	margin: auto;
 }
 #prod-info tr td li{
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	padding-left: 1em;
	list-style: none;
}
#prod-info tr td li::before{
	content: "\2022";
	color: #D65C52;
	display: inline-block; 
  	width: 20px;
 }
 #prod-info tr td ul{
 	padding: 0;
 }
 #prod-info tr td{
 	padding-right: 40px;
 }
 .images-product img{
	position: relative;
	left: -30%;
	width: 300px;
	height: 350px;
	border-radius: 10px;
	top: 25%
}


/*----------------------------------------POLICY------------------------------------------*/
.policy-content .container{
	display: flex;
	padding: 10px;
	margin: auto;
}
.container img{
	width: 250px;
	height: 250px;
	padding: 10px;
}
.policy-title{
	text-align: left;
}

.text-type1{
	margin-top: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	color: #D65C52;
}
.text-strong{
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 30px;
	color: #061032;
}

.text-strong strong{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 30px;
	color: #01A893;
}
.text-paragraph{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #061032;
}

.policy-template{
	width: 70%;
	margin: auto;
	padding-bottom: 100px;
}


/*------------------------------RESPONSIVE-----------------------*/
@media only screen and (min-width: 100px){
	.grid-container{
		grid-template-columns: auto;
		padding: 0;
	}
	.header-home-container{
		width: 100%;
		position: relative;
		height: fit-content;
	}
	.header-home-container h1{
		font-size: 50px;
	}
	.header-home-container p{
		font-size: 15px;
		width: 80%;
	}
	.card-product{
		width: 100%;
	}
	#blog-title{
		font-size: 25px;
	}

	.blog-template h2{
		font-size: 16px;
	}
	.header-home-container .button{
		font-size: 14px;
	}
	.blog{
		padding: 0;
		width: 80%;
		margin: auto;
	}

	.email-signup p {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	#partners{
		text-align: left;
	}
	#partners h2{
		font-size: 25px;
		text-align: center;
	}
	.email-signup form{
		width: 100%;
		text-align: center;
	}
	.form{
		padding: 0;
		display: inline-block;
	}
	#logo{
		padding: 0;
	}
	#about-info img{
		width: 70px;
		height: 70px;
	}
	.email-signup{
		padding: 40px;
		display: grid;
	}
	.email-signup input{
		border-right: 0px;
		text-align: center;
	}
	.blog-content {
		width: 100%;
	}
	.primary-menu{
		display: none;
	}
	.mobile-menu .menu ul{
		display: none;
	}
	.footer-menu{
		display: none;
	}
	.grid-partners{
		width: fit-content;
	}
	#about-us h2 {
    font-size: 20px;
	}
	#carousel{
		overflow: scroll;
	}
	#contact-content{
		width: 100%;
		
	}
	.grid-competence{
	grid-template-columns: auto;
	}
	.grid-competence img{
		width: 300px;	
	}
	.grid-infomation{
		display: none;
	}
	.card-button{
		width: 300px;
	}
	.grid-contactform{
		display: contents;
	}
	.grid-button{
		grid-template-columns: auto;
	}
	.grid-contactform .contactform{
		width: 80%;
		margin: auto;
	}
	#contactinfo {
		padding: 10px;
	}
	.about-product{
		display: grid;
	}
	#title, #title-subtilte{
		text-align: left;
		width: 100%;
	}
	.box-product{
		width: auto;
	}
	.product .grid-container{
		width: fit-content;
	}
	#contact-content img{
		width: 300px;
	}
	.consulting-content{
		width: 90%;
		margin: auto;
	}
	.grid-management .grid-item{
	display: block;
	}
	.title-container{
		display: block;
	}
	.timeline-top::before{
		bottom: 15%;
	}
	.header-products{
    	grid-template-columns: auto;
    	height: fit-content;
    	width: 90%;
	}
	.header-image img{
		position: relative;
	}
	.header-about-container .images{
		width: fit-content;
		margin: auto;
	}
	.header-about-container{
		width: 100%;
	}
	.header-competences{
		width: 100%;
	}
	#whyus-template{
		grid-template-columns: auto;
	}
	.grid-competences .grid-competence{
		grid-template-columns: auto;
	}
	.header-members{
		width: 80%;
	}
	#contact-map .grid-container{
		grid-template-columns: auto;
	}
	#about-page .about-us .content{
		width: 100%;
	}
	.header-search{
		width: 90%;
		margin: auto;
	}
	.header-detail-container{
		display: block;
		width: 95%;
	}
	#prod-info tr td {
    	padding-right: 0;
	}
	.images-product img{
		position: inherit;
		width: 100%;
	}
	.policy-template{
		width: 100%;
	}
	.policy-content .container{
		display: block;
	}
	#search-input{
		width: 200px;
	}
	.header-management {
    	width: 100%;
	}
	.popup{
		width: 90%;
		left: 5%;
	}
	.popup .popup-header{
		grid-template-columns: auto;
	}
	.popup .popup-header .info{
		text-align: center;
		width: 100%;
	}
	.header-products-content #title{
		font-size: 50px;
	}
	.header-about-container .images img {
    	width: 300px;
	}
	#title{
		font-size: 40px;
	}
	#title-subtilte{
		font-size: 16px;
	}
	#contact-map{
		width: auto;
	}
	.dropdown-title strong{
    	font-size: 26px;
	}


}

@media only screen and (min-width: 700px){
	.grid-container{
		grid-template-columns: auto;
		width: 100%;
	}
	.card-product{
		width: 300px;	
		margin: auto;
	}
	.header-home-container h1{
		font-size: 90px;
		width: 70%;
    	margin: auto;
	}
	.header-home-container p{
		font-size: 20px
	}
	#blog-title{
		font-size: 36px;
	}


	.blog-template h2{
		font-size: 25px;
	}
	.header-home-container .button{
		font-size: 16px;
	}
	.blog{
		padding: 0;
		padding-bottom: 100px;
	}

	.email-signup p {
		float: left;
	    margin: 0;
	    width: 100%;
	    text-align: center;
	}
	#partners{
		text-align: center;
	}
	#partners h2{
		font-size: 36px;
	}
	.email-signup form{
		float: right;
		/*width: fit-content;*/
		margin: auto;

	}

	.email-signup button {
		font-size: 12px;
	}
	#about-info img {
    	width: 150px;
   		height: 150px;
	}
	.email-signup {
   		padding: 100px;
	}
	#logo {
    	float: left;
    	padding-left: 80px;
    /*padding-left: 200px;*/
	}
	.grid-item1{
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.header-home-container {
    	margin: auto;
    	width: 100%;
	}
	#grid-members, #grid-product{
		grid-template-columns: auto auto;
	}
	.primary-menu{
		display: none;
	}
	.mobile-menu .menu ul{
		display: none;
	}
	.footer-menu{
		display: none;
	}
	.grid-partners{
		grid-template-columns: auto auto;
	}
	#about-us h2 {
    font-size: 36px;
	}
	.blog-page-about-us .grid-container{
		grid-template-columns: auto auto
	}
	.client-title {
    width: 100%; 

	}
	#about-page {
	    margin: auto;
	    width: 80%;
	    padding: 30px;
	}
	#about-page .about-us {
		width: fit-content;
	}
	.grid-contactform{
		display: flex;
	}
	.contactform{
		width: 80%;
		margin: auto;
	}
	.grid-button {
    	grid-template-columns: auto auto;
	}
	.consulting-content{
		width: 50%;
	}
	.grid-manager .grid-item{
		display: flex;
	}
	.grid-manager .grid-item .grid-item-content{
		width: 100%;
	}
	.dropdown-table {
  	  width: 70%;
	}
	.title-container{
		display: flex;
	}
	.conference-center-line {
		width: 75%;
	}
	.btn-product{
		padding: 10px 10px;
	}
	.header-products{
    	grid-template-columns: 60% 40%;
    	height: fit-content;
    	width: 80%;
	}
	.header-about-container .images{
		width: fit-content;
		margin: 0;
	}
	.header-about-container{
		width: 80%;
	}
	#whyus-content{
		width: 90%;
	}
	#whyus-template{
		grid-template-columns: 40% 60%;
	}
	.grid-competences{
		width: 100%;
	}
	.header-competences{
		width: 70%;
		margin: auto;
	}
	.grid-competences .grid-competence{
		grid-template-columns: auto auto;
	}
	#about-page .about-us{
		display: flex;
	}
	#contact-map .grid-container{
		grid-template-columns: auto auto;
	}
	#about-page .about-us .content{
		width: 60%;
	}
	.header-search{
		width: 80%;
	}
	.header-detail-container{
		display: flex;
	}
	#prod-info tr td {
    	padding-right: 40px;
	}
	.header-detail-container{
    	width: 90%;
	}
	.images-product img {
    	position: relative;
    	width: fit-content;
    	left: 0;
	}
	.policy-content .container {
    	display: flex;
	}
	.policy-template {
    	width: 90%;
	}
	#search-input{
		width: 250px;
	}
	.header-management {
    	width: 70%;
	}
	.popup{
		width: 70%;
    	left: 15%;
	}
	.popup .popup-header{
		grid-template-columns: auto auto;
	}
	.popup .popup-header .info{
		text-align: left;
		width: 80%;
	}
	.email-signup{
		display: flex;
	}
	.header-about-container .images img {
    	width: 400px;
	}
	#title{
		font-size: 80px;
	}
	#contact-map{
		width: 80%;
	}
	.dropdown-title strong{
    	font-size: 36px;
	}
}



@media only screen and (min-width: 1000px){
	.grid-container{
		grid-template-columns: auto;
		width: 90%;
	}
	.card-product{
		width: 330px;	
		margin: auto;
	}
	.header-home-container p{
		font-size: 16px;
		margin: auto;
	}
	#blog-title{
		font-size: 36px;
	}

	.blog-template h2{
		font-size: 25px;
	}
	.header-home-container .button{
		font-size: 16px;
	}
	.blog{
		padding: 0;
		padding-bottom: 100px;
	}

	.email-signup p {
		float: left;
	    margin: auto;
	    width: fit-content;
	    text-align: left;
	}
	#partners{
		text-align: center;
	}
	#partners h2{
		font-size: 36px;
	}
	.email-signup form{
		width: fit-content;
		margin: auto;

	}

	.email-signup button {
		font-size: 12px;
	}
	#about-info img {
  	 	width: 150px;
   		height: 150px;
	}
	.email-signup {
    	padding: 100px;
	}
	#logo {
    	float: left;
	}
	.grid-item1{
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.header-home-container {
    	margin: auto;
    	width: 70%;
	}
	.email-signup input{
		border-right: 0.5px solid #E7EAEE;
	}
	#grid-product {
    	grid-template-columns: auto auto;
	}
	#grid-members{
		grid-template-columns: auto auto auto;
	}
	.grid-partners{
		grid-template-columns: auto auto;
	}
	#about-info p{
		width: 60%;
    	margin: auto;
	}
	.form{
		display: flex;
	}

	/*------ABOUT US-------*/
	.entry-content {
    	width: 85%;
    	padding: 50px;
	}
	.blog-page-about-us .grid-container{
		grid-template-columns: auto auto auto;
	}
	.client-title {
    	width: 80%;
	}
	.mobile-menu{
		display: none;
	}
	.primary-menu{
		display: inline-block;
	}
	.mobile-menu .menu ul{
		display: none;
	}
	.footer-menu{
		display: inline-block;
	}
	#contact-content .grid-container{
		width: 100%;
		grid-template-columns: auto auto;
		margin: auto;
	}
	#contact-content .grid-item img{
		height: 100%;
		width: 500px;
		padding-top: 10px;
	}
	.grid-contactform #contactinfo{
		width: 35%;
	}
	.grid-button {
	    grid-template-columns: auto auto auto;
	}
	.grid-contactform .contactform{
		height: 385px;
		width: 30%;
		margin-left: 5%;
	}
	.about-product{
		display: flex;
	}
	.about-product .item-left{
		width: 100%;
	}
	#contact-content{
		width: 100%;
	}
	.header-detail-container {
    	width: 75%;
	}
	.images-product img {
    	position: relative;
    	width: 400px;
    	left: -25%;
	}
	.grid-manager .grid-item {
    	width: 80%;
	}
	.popup{
		width: 50%;
		left: 25%;
	}
	.header-products-content #title{
		font-size: 90px;
	}
	.grid-products{
		grid-template-columns: auto auto;
	}
	.grid-infomation{
		display: grid;
	}
}


@media only screen and (min-width: 1200px){
	.grid-container{
		grid-template-columns: auto auto auto;
		width: 100%;
	}
	.card-product{
		width: 330px;	
		margin: auto;
	}
	#blog-title{
		font-size: 36px;
	}

	.blog-template h2{
		font-size: 25px;
	}
	.header-home-container .button{
		font-size: 16px;
	}
	.blog{
		padding: 0;
		padding-bottom: 100px;
	}

	.email-signup p {
		float: left;
	    width: 70%;
	    text-align: left;
	}
	#partners{
		text-align: center;
	}
	#partners h2{
		font-size: 36px;
		margin-top: 0px;
	}
	.email-signup form{
		float: right;
    	width: fit-content;
    	margin-right: 0%;

	}

	.email-signup button {
		font-size: 12px;
	}
	#about-info img {
    	width: 150px;
    	height: 150px;
	}
	.email-signup {
    	padding: 100px;
	}
	#logo {
    	float: left;
    	padding-left: 200px;
	}
	.blog-template {
    	margin: auto;
    	padding-bottom: 100px;
	}
	.header-home-container {
    	margin: auto;
    	width: 50%;
	}
	#grid-members, #grid-product {
    	grid-template-columns: auto auto auto;
    	width: fit-content;
	}
	.copyright {
    	font-size: 14px; 
	}
	.grid-partners{
		grid-template-columns: auto auto auto auto auto;
	}
	#about-info p{
		width: 75%;
    	margin: auto;
	}
	#carousel{
		overflow: hidden;
	}
	#whyus-content{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.grid-contactform .contactform{
		width: 28%;
	    padding: 10px;
	    margin: 15px;
	    margin-right: 18%;
	    height: 100%;
	}
	.grid-contactform #contactinfo{
		width: 35%;
		margin: auto;
		margin-right: 0;
		display: grid;
	}
	.about-product .item-left{
		width: 100%;
	}
	.product .grid-container{
		width: 75%;
		margin-left: 10px;

	}
	.grid-products{
		grid-template-columns: auto auto auto;
	}
	.conference-center-line {
		width: 70%;
	}
	#prevTimeBtn {
    	left: 15%;
	}
	#nextTimeBtn {
    	right: 15%;
	}
	#contact-content{
		width: 80%;
	}
	.header-products{
    	grid-template-columns: 60% 40%;
	}
	.grid-competences {
    	width: 75%;
	}
	.header-detail-container {
    	width: 65%;
	}
	.header-about-container .title-container .content{
    	width: 70%;
    	margin: auto;
    	margin-top: 0;
	}
	.header-about-container {
    	width: 80%;
	}
	.policy-template {
    	width: 80%;
	}
	#contact-content .grid-item img{
		width: 550px;
	}

}


/*-----------------1700px--------------------------------*/

@media only screen and (min-width: 1700px){

	.blog-members{
		padding: 0;
		padding-bottom: 100px;
	}
	.blog-template {
    	margin: auto;
    	padding-bottom: 100px;
	}
	.copyright {
     font-size: 16px; 
	}
	.card-product{
		width: 330px;
	}
	#about-info p{
		width: 85%;
    	margin: auto;
	}
	#contact-content .grid-item img{
		height: 100%;
		width: 100%;
	}
	#whyus-content{
		padding: 100px 40px 100px 0px;
	}
	.grid-competence img{
		width: 400px;	
	}
	.grid-contactform .contactform{
		width: 19%;
		padding: 10px;
		margin: 15px;
		margin-right: 13%;
	}
	.grid-contactform #contactinfo{
		width: 50%;
		margin: auto;
		margin-right: 0;
	}
	.product .grid-container{
		width: 60%;
		margin-left: 10px;

	}
	.grid-products{
		grid-template-columns: auto auto auto auto;
	}
	#header-contact{
		height: 550px;
	}
	.header-products{
    	width: 60%
	}
	.header-about-container .title-container{
		width: fit-content;
    	margin: auto;
	}
	.dropdown-table {
    	width: 60%;
	}

}


/*-----------------------------ABOUT US--------------------*/
#prevBtn{
	height: 40px;
	width: 40px;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	color: white;
	background: #01A893;
	box-shadow: 0px 5px 25px rgba(1, 168, 147, 0.31);
}
#nextBtn{
	height: 40px;
	width: 40px;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	color: #01A893;
	background: white;
	box-shadow: -1px 13px 20px #F0F2F4;
}






/*----------------------NON CATEGORY----------------------------*/
.blog-page-about-us{
	border-bottom: none;
}
.blog-page-about-us .card{
	height: 100px;
	width: 100%;
}
.blog-page-about-us .card .card-content{
	padding: 20px;
	text-align: center;

}

.title-about-us{
	font-family: Be Vietnam;
font-style: normal;
font-weight: 800;
font-size: 90px;
line-height: 102.1%;
/* identical to box height, or 92px */

letter-spacing: -0.03em;

color: #D65C52;
}


#post-239 .entry-content{
	padding: 100px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*---------------------------------------------*/







